@mixin inputLabelAuthFocus {
    
    color: #fff;
    &~label {
        left: 0px;
        bottom: 60px;
        font-size: 45px;
        color: #fff;
    }
}

@mixin inputLabelAuthValid {
    &~label {
        left: 0px;
        bottom: 60px;
    }
}

@mixin scrollbar {
    &::-webkit-scrollbar {
        width: 15px;
        background-color: #979797;
        border-radius: 25px;
    }

    &::-webkit-scrollbar-thumb {
        width: 15px;
        background-color: #dddddd;
        border-radius: 25px;

        transition: .5s ease;

        &:hover {
            background-color: #fff;
        }
    }
}