@mixin inputLabelAuthFocus {
    
    color: #fff;
    &~label {
        left: 0px;
        bottom: 60px;
        font-size: 45px;
        color: #fff;
    }
}

@mixin inputLabelAuthValid {
    &~label {
        left: 0px;
        bottom: 60px;
    }
}