.box-center {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-grow: 1;

    & input {
        width: 600px;

        border: none;
        border-bottom: 4px #B4B4B4 solid;

        font-size: 50px;

        color: #b4b4b4;

        font-family: 'Questrial', sans-serif;

        transition: .5s ease;
        &:focus {
            border-color: transparent;
            box-shadow: 0px 15px #08b83c;
        }
    }

    & label {
        position: absolute;
        left: 15px;
        top: 20px;

        font-size: 30px;
        color: #3d3d3d;
        transition: 1s ease;
    }
}

.ipAdress {
    position: relative;

    &__input {
        &:focus {
            @include inputLabelAuthFocus;
        }
        &:valid {
            @include inputLabelAuthValid;
        }
    }
}

.authorization {
    position: relative;
    
    &__input {
        &:focus {
            @include inputLabelAuthFocus;
        }
        &:valid {
            @include inputLabelAuthValid;
        }
    }

    &__error {
        position: absolute;

        left: 0;
        bottom: -150%;

        font-size: 36px;
        color: #fa3e3e;

        text-shadow: 0px 0px 5px #fa3e3e;
    }
}
